/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	font-family: 'Yeseva One', cursive;
}
html,
body { height: 100% }
body {
    font-family: 'Gentium Basic', serif;
	font-size:16px;
}
a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

/* extra-color-css-start */
body{
	position:relative;
}


.color-box-area{
	position:fixed;
	background:#DAB33E;
	width:200px;
	height:200px;
	right:-200px;
	top:100px;
	z-index:9999;
	opacity:0.8;
	display:inline-block;
	text-align:center;
}
.color-box{
	padding:30px 0;
}

.color-box span{
	
	width:50px;
	height:50px;
	border-radius:50%;
	display:inline-block;
	z-index:9999;
	margin-bottom:10px;
	cursor:pointer;
}
.color-one{
	background:#e74c3c;
	
}

.color-two{
	background:#8e44ad;
	
}
.color-three{
	background:#2c3e50;
	
}
.color-four{
	background:#f1c40f;
	
}
.color-five{
	background:#bdc3c7;
	
}
.color-six{
	background:#7f8c8d;
	
}

/* color-one-css */
.color-one-css p{
	color:#C24E36;
}
.color-one-css .slide-control {color:#C24E36;} 
.color-one-css .slide-control:hover{color:#C24E36;}
.color-one-css .main_menu ul.nav.navbar-nav li a { color: #C24E36;}
.color-one-css .header_text h2 {color: #C24E36;}
.color-one-css .title_heading {color: #C24E36;}


/* color-one-css */
.color-two-css p{
	color:#7A3E95;
}
.color-two-css .slide-control {color:#7A3E95;} 
.color-two-css .slide-control:hover{color:#7A3E95;}
.color-two-css .main_menu ul.nav.navbar-nav li a { color: #7A3E95;}
.color-two-css .header_text h2 {color: #7A3E95;}
.color-two-css .title_heading {color: #7A3E95;}



/* color-six-css */
.color-six-css p{
	color:#95A0A1;
}
.color-six-css .slide-control {color:#95A0A1;} 
.color-six-css .slide-control:hover{color:#95A0A1;}
.color-six-css .main_menu ul.nav.navbar-nav li a { color:#95A0A1 ;}
.color-six-css .header_text h2 {color:#95A0A1 ;}
.color-six-css .title_heading {color:#95A0A1 ;}


/* font-awesome-icon */
.click-me{
	position:absolute;
	right:200px;
	top:0;
	background:#DEBF62;
	color:#EEEFF0
}














/* extra-color-css-end */


/* customize css */

.slide-bg-1{background:url(img/top_area_bg.jpg)}
.slide-bg-2{background:url(img/iin_bg.jpg)}
.slide-control {
    color: #fff;
    font-size: 80px;
    left: 30px;
    margin-top: -97px;
    position: absolute;
    top: 50%;
	opacity:.2;
	filter: alpha(opacity=20);
	z-index:9999;
}
.slide-control.right {
    left: auto;
    right: 30px;
}
.slide-control:hover{opacity:1;filter: alpha(opacity=100);color:#fff;}


#top-slide-carousel.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
#top-slide-carousel.carousel-fade .carousel-inner .item,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  filter: alpha(opacity=0);
}
#top-slide-carousel.carousel-fade .carousel-inner .active,
#top-slide-carousel.carousel-fade .carousel-inner .next.left,
#top-slide-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
  filter: alpha(opacity=100);
}
#top-slide-carousel.carousel-fade .carousel-inner .next,
#top-slide-carousel.carousel-fade .carousel-inner .prev,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#top-slide-carousel.carousel-fade .carousel-control {
  z-index: 2;
}
.top_area_bg {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    top: 0;
}
.top_area {
    position: relative;
}

/*.header_area {width:100%;position:relative; z-index:999} befor slider*/
.header_area{width:100%}
.sticky-wrapper {width:100%;position:absolute; z-index:999}

.logo img{height:90px}

.main_menu ul.nav.navbar-nav {
    float: none;
    text-align: right;
}

.main_menu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}

.main_menu ul.nav.navbar-nav li a {
    color: #fff;
    font-size: 20px;
    padding: 32px 15px;
}

.main_menu ul.nav.navbar-nav li a:hover {
    background:none;
}
.main_menu ul.nav.nav li.active:before {
    background: #CAC8BD none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
	top:0;
	width:100%;
	
}
.main_menu {
    padding-right: 110px;
    position: relative;
}

.social_links {
    position: absolute;
    right: 0;
    top: 27px;
}
.social_links a {
    color: #dab33e;
    display: inline-block;
    font-size: 20px;
    padding-left: 7px;
}


.is-sticky .header_area:after{background:#000;position:absolute;top:0;left:0;width:100%;content:"";opacity:0.7;filter: alpha(opacity=70);height:100%;z-index:-1}
.is-sticky .logo img{
    height: 61px;
    width: auto;
}
.is-sticky.main_menu  ul .nav.navbar-nav  li a {padding:50px 10px;}
.is-sticky.social_links{top:22px}
.header_area:after,.logo img, .main_menu  ul .nav.navbar-nav  li a{-webkit-transition:.4s;transition:.4s}
.is-sticky .main_menu ul.nav.navbar-nav li .active a{color:#D0BB5B;}

.header_text {
    padding: 100px 0;
}
.header_text h2{background:url(img/header_text_img.png)}
.header_text h2 {
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 70px;
    padding-bottom: 70px;
	margin-bottom:33px;
	margin-left:33px
}
.btn-filed {
    color: #fff;
    display: inline-block;
    font-size: 21px;
    margin: 0 5px;
    padding: 8px 30px;
    position: relative;
    z-index: 1;
}

.btn-filed:after {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.btn-filed.btn_yellow:after{background-color:#C1B25F}
.header_text_area{position:relative;padding-top:80px;}


.about_area{background:url(img/about_area_bg.png)}
.section_padding{padding:80px 0;}
.title_heading {
    background: rgba(0, 0, 0, 0) url("img/title_heading_bg.png") no-repeat scroll center bottom;
    color: #cc9900;
    font-size: 36px;
    margin-bottom: 14px;
    padding-bottom: 35px;
	text-align:center;
}
.author_img {
    margin-top: 36px;
}
.author_text {
    
    margin-top: 0;
}

.igredients_area {
    position: relative;
}
.parallax_bg {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	background-attachment:fixed;
}
.igredients_bg {
    background-image: url("img/iin_bg.jpg");
}


.igredients_text p{padding-bottom:30px}
.igredients_text img{padding-bottom:30px}

.igredients_text {
    color: #fff;
    
    position: relative;
    z-index: 1;
	padding:18px;
}
.igredients_text:after,.testimonial-list:after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    filter: alpha(opacity=70);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
	
}
.white_title_heading{color:#fff;background:url(img/white_title_heading_bg.png)no-repeat center bottom}
.food-menu-area {
    background: rgba(0, 0, 0, 0) url("img/about_area_bg.png") repeat scroll 0 0;
}
.single-food-menu-item {
    padding-bottom: 35px;
}


.single-food-menu-item h2 {
    border-bottom: 1px solid #cc9900;
    color: #cc9900;
    font-size: 21px;
    margin-bottom: 22px;
    padding-bottom: 11px;
}
.single-food-menu-item span {
    float: right;
}
.single-food-menu-item p {
    color: #4c4c4c;
    
    
}
.single-food-menu-item.spacial {
    border: 1px solid #daba59;
    padding: 10px;
    position: relative;
	margin-bottom: 36px;
}
.single-food-menu-item.spacial:before {
    background: #dbbc61 none repeat scroll 0 0;
    color: #fff;
    content: "spacial";
    padding: 1px 8px;
    position: absolute;
    right: -1px;
    text-transform: uppercase;
    top: -25px;
}
.testimonial-area{position:relative;}
.testimonial_bg{background:url(img/testimonial_parallax_bg.jpg);}
.testimonial-list {
    color: #fff;
    font-size: 20px;
    padding: 40px;
    position: relative;
    z-index: 1;
}
.testimonial-author{margin-top:20px}

#testimonial-carousel:before{font-family:FontAwesome;content:"\f10d";   font-size: 35px;
    left: -35px;
    position: absolute;
    top: -31px;}
	
.contact-img img {
    margin-left: 40px;
   
    width: 235px;
}
.contact-area{background:url(img/about_area_bg.png)}	

.contact-form {
    margin: 8px;
    padding: 8px;
}
.contact-form label {
    color: #cc9900;
    font-size: 14px;
    text-transform: uppercase;
}
.contact-form input[type="text"],.contact-form select {
    border: medium none;
    height: 100%;
    padding: 4px 10px;
    margin-bottom: 21px;
    width: 100%;
}
.form-btn {
    background: #cc9900 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 18px;
    margin-left: 145px;
    padding: 1px 6px;
    text-transform: uppercase;
    width: 168px;
}
.footer-area{background:#191919;color:#fff;padding:20px 0}
.footer_title_heading {
    background: rgba(0, 0, 0, 0) url("img/footer-title-bg.png") no-repeat scroll center bottom;
    color: #fff;
    font-size:17px;
    margin-top: 22px;
}
.footer-social-icon i {
    color: #fff;
    
}
